 <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all" style="background: orange;">
                            <i class="fa fa-bars"></i>
                            <span>Danh Mục</span>
                        </div>
                        <ul>
                            {{#each categories}}
                            <li><a href="#">{{this.name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="Bạn cần tìm kiếm gì?">
                                <button type="submit" class="site-btn"  style="background: orange;"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"  style="color: orange;"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0367722389</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

 
    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="#" method="post">
                                <input type="text" placeholder="Tìm kiếm">
                                <button type="submit"><span class="fa fa-search"></span></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Danh Mục</h4>
                            <ul>
                                {{#each categories}}
                                <li><a href="#">{{this.name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Tìm kiếm theo từ khoá</h4>
                            <div class="blog__sidebar__item__tags">
                                {{#each products}}
                                <a href="#">{{this.name}}</a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        {{#each blog}}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="img/{{this.image}}" alt="">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i>{{this.day}}</li>
                                    </ul>
                                    <h5><a href="#">{{this.title}}</a></h5>
                                    <p>{{this.pagaph}}</p>
                                    <a href="#" class="blog__btn">Xem Ngay<span class="fa fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                         {{/each}}     
                    </div>
                </div>
            </div>
        </div>
    </section>